<ion-header>
    <ion-navbar color="orange">
        <ion-row>
            <ion-col col-2>
                <ion-buttons>
                    <button ion-button icon-only (click)="goBack()">
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
            <ion-col col-8 text-center>
                <ion-title>Generar Reporte</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <h3 style="margin-top: 8px;">Servicios</h3> -->
    <!-- <h1>Fecha de inicio</h1> -->
    <ion-card>
        <ion-item class="de">
            <ion-label>Fecha de inicio</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" min="2018" [(ngModel)]="myDate" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
        </ion-item>
        <br>
        <ion-item>
            <ion-label>Fecha de termino</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" min="2018" [(ngModel)]="myDate1" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
        </ion-item>
        <ion-row>
            <ion-col text-center>
                <button color="custom" ion-button outline (click)="Reporte()">Generar Reporte</button>
            </ion-col>
        </ion-row>

    </ion-card>

    <div *ngIf="show == true  && res == false" class="fondo">
        <ion-col text-center>
            <h2><b>No se encontraron servicios</b></h2>
        </ion-col>
    </div>

    <div *ngIf="res == true">
        <ion-item>
            <ion-row>
                <ion-col text-center><b>{{myDate | date:"dd/MM/yyyy"}} &nbsp;&nbsp; - &nbsp;&nbsp; {{myDate1 | date:"dd/MM/yyyy"}}</b></ion-col>
            </ion-row>
            <br>
            <br>
            <ion-row>        
                <ion-col text-center class="text">
                  <b>{{totalRepa | currency}}</b>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>Servicios: <b>{{servicios.length}}</b></ion-col>
            </ion-row>           
        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col text-center>
                    <button ion-button outline color="custom" (click)="verMas()" [hidden]="show1 == true">Mostrar  Detalles</button>
                    <button ion-button outline color="custom" (click)="verMas()" [hidden]="show1 == false">Ocultar  Detalles</button>

                </ion-col>
            </ion-row>
        </ion-item>

    </div>

    <ion-list *ngIf="show1 == true">
        <ion-item ion-item *ngFor="let servicio of servicios">
            <ion-row>
                <ion-col>
                  <b> Servicio </b>
                </ion-col>
                <ion-col>#{{ servicio.clave }}</ion-col>
                <ion-col>
                  <b>Fecha</b>
                </ion-col>
                <ion-col text-right>{{ servicio.fecha | date:'dd/MM/yyyy'}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                 <b> Total del Pedido:</b>
                </ion-col>
                <ion-col text-right>
                  {{ servicio.totalFinal | currency}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                 <b> Total del Servicio:</b>
                </ion-col>
                <ion-col text-right>
                  {{ servicio.comisionServicio | currency}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                 <b> Comisión BringMe:</b>
                </ion-col>
                <ion-col text-right>
                  {{ servicio.corteBme | currency}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                 <b> Ganancia:</b>
                </ion-col>
                <ion-col text-right>
                  {{ servicio.corteRep | currency}}
                </ion-col>
              </ion-row>      
        </ion-item>
    </ion-list>
</ion-content>