page-home {
    .logo {
        width: 55%;
        border-radius: 50%;
        margin-top: 2%;
        border: 1px solid #d0330f;
    }
    .eye {
        border-radius: 6px;
        margin-left: -10%;
        overflow: hidden;
        height: 3.6rem;
        font-size: 2.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #000000;
        // background-color: #d0330f;
        margin: 0.1rem 0.1rem;
        // padding: 1.1rem 1.1rem;
    }
    .padding {
        padding: 0px;
        margin: 0px;
    }
    .pideLQ {
        padding-left: 0px;
        background: #562B89;
    }
    .Menu {
        padding-left: 0px;
        background: #9A999E;
    }
    .Conv {
        background: #CDCED3;
    }
    .fondo {
        background-image: url('../assets/imgs/Ciudad.png');
        background-size: 100% 100%;
    }
    .image {
        width: 50%;
        height: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .tiempo {
        font-size: 1.3rem;
        color: #000000;
    }
    .blanco {
        color: #ffffff;
    }
    .negro {
        color: #000000;
    }
}