page-servicio {
    .camara {
        border-radius: 6px;
        margin-left: -10%;
        overflow: hidden;
        height: 3.6rem;
        font-size: 2.4rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #9c2020;
        // background-color: #d0330f;
        margin: 0.1rem 0.1rem;
        // padding: 1.1rem 1.1rem;
    }
    .dir {
        font-size: 1.2rem;
        color: #525252;
        padding-left: 5%;
    }
    .letra {
        font-size: 2rem;
    }
    .boton1 {
        width: 120px;
    }
    .toast-container {
        background-color: rgb(255, 0, 0);
    }
    .space{
        padding-top: 1.5rem;
    }
}